<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Time Card Checker</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>

<body class="container">
    <h1>Time Card Checker</h1>
    {% if result %}
    <h3>{{result}}</h3>
    <button type="button" class="btn btn-large waves-effect waves-lights" onclick="history.back()">戻る</button>
    {% else %}
    <h3>認証中…</h3>
    {% endif %}
</body>
</html>