<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Time Card Checker</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/jsQR.js"></script>
    <script src="../static/js/camera.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>

<body class="container">
    <h1>Time Card Checker</h1>
    <h3>QRコード認証</h3>
    <div id="loadingMessage">ウェブカメラを使用許可してください</div>
    <canvas id="canvas" hidden></canvas>
        <div id="output" hidden>
    </div>
</body>
</html>