<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Time Card Checker</title>
    <link rel="stylesheet" href="index.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>
<body class="container">
    <h1>Time Card Checker 管理者用</h1>
    {% if message %}
    <h3>{{message}}</h3>
    {% endif %}
    <form action="http://127.0.0.1:5000/authAdmin" method="post"> 
        <div class="name-info row">
            <h5>ID</h5>
            <div class="input-field col s12">
                <input required="required" id="admin-id" type="text" name="admin_id">
            </div>
            <h5>パスワード</h5>
            <div class="input-field col s12">
                <input required="required" id="admin-password" type="text" name="admin_password">
            </div>
        </div>
        <div class="button">
            <button id="submit" class="btn btn-large waves-effect waves-lights" type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>